body{
    background: url(images/landscape1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
h2{
    text-align: center;
}
p{
    margin-left: 50px;
    margin-right: 15px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.element-3 img{
    margin-left: 15px;
}
.element-3{
    margin-top: 20px;
}
.element-4 img{
    margin-left: 15px;
    margin-top: 10px;
}
.element-5 img{
    margin-left: 15px;
    margin-top: 10px;

}
.element-6 img{
    height: 240px;
    width: 250px;
    margin-left: 15px;
    float: left;
    margin-right: 10px;
    

}
h3{
    margin-left: 45px;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}
form{
    margin-top: 30px;
}
label{
    color: white;
}
input{
    width: 30%;
    height: 20px;
    border-radius: 5px;
}
